<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AICommentAntiSpam</id>
<name>AI反垃圾</name>
<url>https://app.zblogcn.com/?id=47079</url>
<note>通过AI大模型来校验评论</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email></email>
  <url>https://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>173200</adapted>
<version>1.2</version>
<pubdate>2024-07-18</pubdate>
<modified>2024-10-25</modified>
<price>0</price>
<phpver>8.0</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>